.logo-container {
    z-index: 0;
    width: 400px;
    opacity:1;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        // transform: rotateZ(180deg);
    }

    .solid-logo {
        position: absolute;
      
        right: auto;
        bottom: auto;
        left: 0;
        opacity: 1;
        margin: auto;
        width: 100%;    
        z-index: 1;
    }
}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10;
}
@media screen and (max-width: 700px) {   
    .solid-logo{
        top:500px!important;
        right:0;
        left: 50px!important;
    }
}
@media screen and (min-width: 703px) {
    .solid-logo{
        top:100px!important;
      
    }
  }

  

    
  
